@charset "utf-8";
$border-radius: 20px;

html {
  scroll-behavior: smooth;
}

h1,h3 {
  font-family: 'PT Sans Narrow', sans-serif;
}
h2 {
  font-family: 'Marhey', sans-serif;
}


/*****************************************
header
******************************************/
.header {
  position: relative;

  & .header-top__title {
    position: absolute;
    color: #fff;
    font-size: 4em;
    z-index: 50;
    left: 50%;
    transform: translateX(-20%);
    top: 45%;
  }

  & .header-top {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 50;

    & .header-top__insta {
      color: #fff;
      font-size: 3em;
      font-weight: 200;
      margin-top: 10px;
      margin-left: 10px;

      & a {
        color: #fff;
      }
    } 

    /*========= レイアウトのためのCSS ===============*/
    /*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
    & .header-top__hamburger {
      position: relative;
      margin-top: 8px;
      /*ボタン内側の基点となるためrelativeを指定*/
      cursor: pointer;
      width: 70px;
      height: 50px;
      border-radius: 5px;
      z-index: 60;

      /*ボタン内側*/
      & span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 3px;
        // border-radius: 2px;
        background: #fff;
      }


      & span:nth-of-type(1) {
        top: 10px;
        width: 50%;
      }

      & span:nth-of-type(2) {
        top: 23px;
        width: 50%;
      }

      & span:nth-of-type(3) {
        top: 36px;
        width: 50%;
      }

      /*activeクラスが付与されると線が回転して×になる*/

      &.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-135deg);
        width: 50%;
      }

      &.active span:nth-of-type(2) {
        opacity: 0;
      }

      &.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(135deg);
        width: 50%;
      }
    }

    /*========= レイアウトのためのCSS ===============*/
    /*----------------------------
    * メニュー本体
    *----------------------------*/
    & .header-top__menu {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 55;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      background: #ede3da;

      & .header-top__menu-img {
        width: 60%;
        padding-top: 20%;
      }

      & .header-top__menu-item {
        width: 100%;
        height: auto;
        padding: 1.5rem 1em;
        text-align: center;
        box-sizing: border-box;

        & a {
          color: #125135;
          text-decoration: none;
          font-size: 1.5rem;
          padding: 1.5rem;
          font-weight: 600;
        }
      }
    }

    /*----------------------------
    * アニメーション部分
    *----------------------------*/

    /* アニメーション前のメニューの状態 */
    & .header-top__menu {
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s linear;

      /* アニメーション後のメニューの状態 */
      &.is-active {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }



  & .header-mv-field {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    & .header-mv {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      -webkit-animation: anime 24s 0s infinite;
      animation: anime 24s 0s infinite;
      z-index: -1;


      &:nth-of-type(2) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
      }

      &:nth-of-type(3) {
        -webkit-animation-delay: 12s;
        animation-delay: 12s;
      }

      &:nth-of-type(4) {
        -webkit-animation-delay: 18s;
        animation-delay: 18s;
      }

      // &:nth-of-type(5) {
      //   -webkit-animation-delay: 24s;
      //   animation-delay: 24s;
      // }

      // &:nth-of-type(6) {
      //   -webkit-animation-delay: 30s;
      //   animation-delay: 30s;
      // }
    }

    @keyframes anime {
      0% {
        opacity: 0;
      }

      20% {
        opacity: 1;
      }

      43% {
        opacity: 0;
        // transform: scale(1.2) ;
        z-index: 9;
      }

      100% {
        opacity: 0
      }
    }

  }

  & .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: linear-gradient(to bottom, transparent 0%, transparent 70%, #ede3da 100%)
  }
}

/*****************************************
main
*******************************************/
.main {
  /*
  共通設定
  */
  width: 90%;
  margin: 0 auto;
  text-align: center;

  & section {
    margin-top: 50px;

    & h2 {
      font-size: 2.3rem;
      font-weight: 600;
    }

    & p {
      font-size: 0.9rem;
      line-height: 2.0rem;
      font-weight: 400;
      margin-top: 20px;
      // letter-spacing: 0.1rem;
      text-align: justify;
    }
  }

  /*
  about----------------------------------------------------
  */
  & .about {
    & .about-block__img {
      width: 120%;
      height: 300px;
      margin-top: 30px;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }

  /*
  next-event----------------------------------------------------
  */
  & .next-event {

    & h2 {
      text-align: center;
      padding-top: 30px;
      // padding-bottom: 30px;
    }
    & h3 {
      padding-bottom: 20px;
    }


    & p {
      text-align: center;
    }

    & .next-event-block {
      position: relative;
      padding-top: 20px;
      padding-bottom: 40px;

      & .next-event-block__day {
        font-size: 1.5rem;
        font-weight: 600;
      }

      & .next-event-block__time {
        // font-size: 1.3rem;
        line-height: 1.3rem;
        font-weight: 600;
      }

      & .next-event-block__place {
        line-height: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.1rem;
      }

      /*装飾*/
      & .next-event-block__topleft {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        display: block;
        width: 10%;
        height: 20%;
        border-top: thick double #125135;
        border-left: thick double #125135;
        border-top-left-radius: $border-radius;
      }

      & .next-event-block__topright {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        display: block;
        width: 10%;
        height: 20%;
        border-top: thick double #125135;
        border-right: thick double #125135;
        border-top-right-radius: $border-radius;
      }

      & .next-event-block__bottomright {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        display: block;
        width: 10%;
        height: 20%;
        border-bottom: thick double #125135;
        border-right: thick double #125135;
        border-bottom-right-radius: $border-radius;
      }

      & .next-event-block__bottomleft {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        display: block;
        width: 10%;
        height: 20%;
        border-bottom: thick double #125135;
        border-left: thick double #125135;
        border-bottom-left-radius: $border-radius;
      }
    }

  }

  /*
  store----------------------------------------------------
  */
  & .store {
    width: 100%;

    & h2 {
      padding-top: 30px;
    }

    & .store-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    & .store-block {
      width: 50%;
      padding-top: 30px;

      & .store-block__img {
        width: 90%;
        height: 100px;
        object-fit: cover;
        background-position: center center;
        border-radius: $border-radius;
        // border: 1px solid #125135;
      }

      & .store-block__body {
        width: 90%;
        height: 150px;
        margin: 0 auto;
        overflow: hidden;

        & .store-block__name {
          padding-top: 5px;
          text-align: left;
          font-size: 0.8rem;
        }

        & .store-block__text {
          margin-top: 5px;
          font-size: 0.6rem;
          font-weight: 400;
          line-height: 1.0rem;
          letter-spacing: 0.1rem;
          word-wrap: break-word;
        }
      }


    }

    /*----------------------------
    * 店舗詳細画面
    *----------------------------*/
    & .store-detail {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #ede3da;
      overflow-y: scroll;
      overflow-x: hidden;
      border: 1px solid #999;

      & .store-detail-block {
        // background-color: pink;
        width: 90%;
        height: 90vh;


        & .store-detail__title {
          font-size: 1.5rem;
          margin-top: 20px;
          // font-family: 'PT Sans Narrow', sans-serif;
          font-family: "FOT-筑紫ゴシック Pr5 R", TsukuGoPr5-R, 游ゴシック, YuGothic, "Hiragino Sans", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
        }

        & .store-detail-back {
          text-align: right;
          padding-top: 10px;
          cursor: pointer;
          font-weight: 600;
        }

        & .store-detail__img {
          width: 100%;
          max-height: 50vh;
          object-fit: cover;
          background-position: center center;
          border-radius: 20px;
          // border: 1px solid #999;
        }

        & .store-detail__name {
          text-align: left;
          margin-top: 20px;
          font-size: 1.4rem;
        }

        & .store-detail__text {
          margin-top: 20px;
          padding-bottom: 20px;

          & p {
            font-size: 0.9rem;
            line-height: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            text-align: justify;
          }
        }

        & .store-detail__contact {
          width: 100%;
          padding-bottom: 10px;

          & P {
            margin-top: 0px;
            line-height: 1.2rem;
          }
        }

        & .store-detail__sns {
          display: flex;
          justify-content: right;
          padding-bottom: 50px;

          & a {
            margin-top: 10px;
            margin-right: 20px;
            font-size: 1.5rem;
            color: #125135;
          }
        }
      }
    }
  }



  /*----------------------------
    * アニメーション部分
    *----------------------------*/

  /* アニメーション前のメニューの状態 */
  & .store-detail {
    transform: translateX(100vw);
    transition: all .2s linear;
  }

  /* アニメーション後のメニューの状態 */
  & .store-detail.is-active {
    transform: translateX(0);
    border-left: 1px solid #555;
  }


  /*
  parking----------------------------------------------------
  */
  & .parking {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-bottom: 40px;
    background-color: #125135;
    border-radius: $border-radius;

    & h2 {
      color: #fff;
      padding-top: 30px;
      
    }
    & h3 {
      color: #fff;
      padding-bottom: 30px;
    }

    & .parking__img {
      width: 82%;
      object-fit: cover;
      margin-bottom: 30px;
      border-radius: $border-radius;
    }

    & .parking__detail {
      display: flex;
      width: 82%;
      height: 100px;
      margin: 0 auto;
      color: #fff;

      & .parking__box_left {
        width: 25%;
        border-bottom: 1.5px solid #fff;
        border-left: 1.5px solid #fff;
        text-align: center;
        display: flex;
        align-items: center;

        & .parking__icon {
          display: inline-block;
          width: 50px;
          height: 50px;
          font-size: 1.2rem;
          line-height: 50px;
          letter-spacing: 0;
          text-align: center;
          margin: 0 5px 0 12px;
          border: 1.5px solid #fff;
          border-radius: 50%;

        }
      }

      & .parking__box_left-first {
        border-top: 1.5px solid #fff;
        border-top-left-radius: $border-radius;
      }

      & .parking__box_left-last {
        border-bottom-left-radius: $border-radius;
      }

      & .parking__box_right {
        width: 75%;
        border-right: 1.5px solid #fff;
        border-bottom: 1.5px solid #fff;
        display: flex;
        align-items: center;
      }

      & .parking__box_right-first {
        border-top: 1.5px solid #fff;
        border-top-right-radius: $border-radius;
      }

      & .parking__box_right-last {
        border-bottom-right-radius: $border-radius;
      }

      & .parking__text {
        font-weight: 400;
        font-size: 0.6rem;
        margin-top: 0;
        padding: 5px 0 5px 0;
        text-align: left;
        line-height: 1.2rem;
      }
    }
  }
}

/*****************************************
footer
******************************************/
.footer {
  width: 80%;
  margin: 0 auto;

  & .footer-block-nav {
    margin-top: 40px;

    & .footer-block-nav__text {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      color: #125135;
      margin-top: 20px;
    }
  }

  & .footer-block-sns {
    margin-top: 40px;
    margin-bottom: 40px;

    & .footer-block-sns__icon {
      font-size: 4.0rem;
      font-weight: 600;
      text-decoration: none;
      color: #125135;
      margin-top: 20px;
      margin-right: 20px;
    }
  }

}


@media screen and (min-width: 481px) {
  /* 481px以上に適用されるCSS（タブレット用） */
}

@media screen and (min-width: 960px) {

  /* 960px以上に適用されるCSS（PC用） */
  /*****************************************
  main
  *******************************************/
  .main {
    /*
    共通設定
    */
    width: 70%;

    & section {
      padding-top: 100px;

      & h2 {
        font-size: 2.3rem;
        padding-bottom: 30px;
      }
    }

    // about----------------------------------------------------
    & .about {
      & .about-block {
        display: flex;
        justify-content: space-between;

        & .about-block__text-block {
          width: 40%;
        }

        & .about-block__img {
          width: 50%;
          height: 50vh;
          margin-top: 30px;

        }
      }
    }

    // next event-----------------------------------------------
    & .next-event {

      & .next-event-block {
        height: 30vh;

        & .next-event-block__topleft {
          width: 60px;
          height: 60px;
        }

        & .next-event-block__topright {
          width: 60px;
          height: 60px;
        }

        & .next-event-block__bottomleft {
          width: 60px;
          height: 60px;
        }

        & .next-event-block__bottomright {
          width: 60px;
          height: 60px;
        }

        & .next-event-block__day {
          font-size: 3.0rem;
          margin-top: 50px;
        }

        & .next-event-block__time {
          font-size: 1.3rem;
          margin-top: 40px;
        }

        & .next-event-block__place {
          font-size: 1.3rem;
          margin-top: 40px;
        }
      }


    }

    // store-----------------------------------------------
    & .store {
      & .store-block {
        width: 30%;
        padding-top: 30px;
        cursor: pointer;

        & .store-block__img {
          height: 220px;
          width: 100%;
        }

        & .store-block__body {
          margin-top: 5px;
          width: 100%;

          & .store-block__name {
            font-size: 1.1rem;
          }

          & .store-block__text {
            font-size: 0.7rem;
            line-height: 1.3rem;
          }
        }
      }
    }

    /*
  parking----------------------------------------------------
  */
    & .parking {


      & h2 {
        padding-top: 30px;
        padding-bottom: 50px;
      }

      & .parking__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 0 auto;

        & .parking__img {
          width: 50%;
          object-fit: cover;
          margin-bottom: 30px;
          border-radius: $border-radius;
        }

        & .parking__detail-block {
          width: 50%;

          & .parking__detail {
            display: flex;
            width: 90%;
            height: 100px;
            margin: 0 auto;
            color: #fff;

            & .parking__box_left {
              width: 20%;
              border-bottom: 1.5px solid #fff;
              border-left: 1.5px solid #fff;
              text-align: center;
              display: flex;
              align-items: center;

              & .parking__icon {
                display: inline-block;
                width: 50px;
                height: 50px;
                font-size: 1.2rem;
                line-height: 50px;
                letter-spacing: 0;
                text-align: center;
                // margin: 0 5px 0 12px;
                margin: 0 auto;
                border: 1.5px solid #fff;
                border-radius: 50%;

              }
            }

            & .parking__box_left-first {
              border-top: 1.5px solid #fff;
              border-top-left-radius: $border-radius;
            }

            & .parking__box_left-last {
              border-bottom-left-radius: $border-radius;
            }

            & .parking__box_right {
              width: 70%;
              border-right: 1.5px solid #fff;
              border-bottom: 1.5px solid #fff;
              display: flex;
              align-items: center;
            }

            & .parking__box_right-first {
              border-top: 1.5px solid #fff;
              border-top-right-radius: $border-radius;
            }

            & .parking__box_right-last {
              border-bottom-right-radius: $border-radius;
            }

            & .parking__text {
              font-weight: 400;
              font-size: 0.8rem;
              margin-top: 0;
              padding: 5px 10px 5px 0;
              text-align: left;
              line-height: 1.2rem;
            }
          }
        }
      }
    }
  }
}