---
const { name, img, detail, index } = Astro.props;
const className = "store-detail" + " " + "detail" + index;
---

<div class={className}>
  <div class="store-detail-block">
    <h3 class="store-detail__title">STORES</h3>
    <p class="store-detail-back">◀ BACK</p>
    <img src={img} alt="店の画像" class="store-detail__img" />
    <h4 class="store-detail__name">{name}</h4>
    <div  class="store-detail__text" set:html={detail}></div>
    
  </div>
</div>
