---
const { storeInfo } = Astro.props;
---
<div class="store-detail">
  <div class="store-detail-block">
    <h3 class="store-detail__title">STORES</h3>
    <p class="store-detail-back">◀ BACK</p>
    <img
      src="images/picture04.jpg"
      alt="店の画像"
      class="store-detail__img"
    />
    <h4 class="store-detail__name">THE COFFEE SHOP</h4>
    <p class="store-detail__text">
      こんにちは。THE COFFEE SHOPにぜひお越しください。こんにちは。THE
      COFFEE SHOPにぜひお越しください。こんにちは。THE COFFEE
      SHOPにぜひお越しください。
    </p>
    <p class="store-detail__text">
      こんにちは。THE COFFEE SHOPにぜひお越しください。こんにちは。THE
      COFFEE SHOPにぜひお越しください。こんにちは。THE COFFEE
      SHOPにぜひお越しください。
    </p>
  </div>
</div>